<div class="users-form container">

  <form (submit)="onFormSubmit($event)">
    <div>Create new user:</div>
    <dx-form #form
             class="form"
             [(formData)]="formData"
             (onFieldDataChanged)="validate($event)"
    >
        <dxi-item dataField="firstName">
          <dxi-validation-rule type="required" message="First name is Required"></dxi-validation-rule>
          <dxi-validation-rule
            type="stringLength"
            [max]="25"
            message="Max length is 25 symbols">
          </dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="lastName">
          <dxi-validation-rule type="required" message="Last name is Required"></dxi-validation-rule>
          <dxi-validation-rule
            type="stringLength"
            [max]="25"
            message="Max length is 25 symbols">
          </dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="gender" editorType="dxSelectBox"
                  [editorOptions]="{ items: genders, valueExpr:'value', displayExpr:'text'}">
          <dxi-validation-rule type="required" message="Gender is Required"></dxi-validation-rule>
<!--          <dxo-label text="{{'HostItems.Installation' | i18n}}"></dxo-label>-->
        </dxi-item>

      <dxi-item dataField="dateOfBirth"
                editorType="dxDateBox"
                [editorOptions]="{
                  displayFormat: 'dd.MM.yyyy',
                  invalidDateMessage: 'The date must have the following format: dd.MM.yyyy' }">
        <dxo-label
          text="Date of birth">
        </dxo-label>
        <dxi-validation-rule
          type="required"
          message="Date of birth is required">
        </dxi-validation-rule>
        <dxi-validation-rule
          type="range"
          [max]="maxDate"
          message="You must be at least 18 years old">
        </dxi-validation-rule>
      </dxi-item>
      <dxi-item>
        <dx-button type="submit"
                   text="Save"
                   [disabled]="!isFormValid"
                   [useSubmitBehavior]="true"
        >
        </dx-button>
      </dxi-item>
    </dx-form>

  </form>

</div>
