<div class="container">
  <dx-data-grid
    [dataSource]="dataSource"
    [remoteOperations]="false"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    [showBorders]="true"
    (onContentReady)="contentReady($event)"
  >
    <dxi-column dataField="id" dataType="number"></dxi-column>
    <dxi-column caption="Full Name" [calculateCellValue]="calculateFullName"></dxi-column>
<!--    <dxi-column dataField="firstName" dataType="string"></dxi-column>-->
<!--    <dxi-column dataField="lastName" dataType="string"></dxi-column>-->
    <dxi-column dataField="gender" dataType="string"></dxi-column>
    <dxi-column dataField="dateOfBirth" dataType="date" format="dd.MM.yyyy"></dxi-column>
  </dx-data-grid>
</div>


